
body{
  background-image: url("Images/chess_board.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.a{

    padding: 5rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    size: 30px;
    text-shadow:
    2px 2px 2px #000,
         -2px 3px 2px #000,
        -2px -2px 0 #000,
        2px -2px 0 #000;
  }

  .flex-container{
  display: flex;
  background-color: dodgerblue;
  padding: 5vh;
  }

  img{
    width: 15vh;
    padding: 5vh;
  }

